@import 'header';
@import 'new';
@import 'profile';
@import 'common';
@import 'form';
@import 'index';
@import 'footer';


a {
  text-decoration: none;
  height: 17px;
  left: 69.6%;
  right: 4.27%;
  top: calc(50% - 17px/2 + 81.5px);
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  /* identical to box height */

  color: #979797;
}

